# Ignore all data except contents of data/processed
data/*
!data/processed/
!data/processed/**

# Ignore static files from the app
app/static/
app/uploads/

# Ignore other files and folders
__pycache__/
notebooks/
.cache/
