# Ignore all data except contents of data/processed and data/sample
data/*
!data/processed/
!data/processed/**

# Ignore all static files from the app except sample files
app/static/**
!app/static/sample/
!app/static/sample/**
app/uploads/

# Ignore other files and folders
__pycache__/
notebooks/
.cache/
